<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{% url 'blog:home' %}">SkyBlog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            {% if user.is_authenticated %}
            <nav class="ms-5">
                <a class="p-2 btn btn-outline-primary" href="{% url 'mailing:mailing_list' %}">Рассылка</a>
                <a class="p-2 btn btn-outline-primary" href="#">Контакты</a>
                <a class="p-2 btn btn-outline-primary" href="{% url 'blog:blog_list' %}">Форум</a>
                <a class="p-2 btn btn-outline-primary" href="{% url 'users:profile' %}">Профиль</a>
                <a class="p-2 btn btn-outline-primary" href="{% url 'users:logout' %}">Выйти</a>
            </nav>
            {% else %}
            <nav class="ms-5">
                <a class="p-2 btn btn-outline-primary" href="#">Контакты</a>
                <a class="p-2 btn btn-outline-primary" href="{% url 'users:login' %}">Войти</a>
                <a class="p-2 btn btn-outline-primary" href="{% url 'users:register' %}">Регистрация</a>
            </nav>
            {% endif %}
        </div>
    </nav>
</header>