{% extends 'blog/base.html' %}
{% block content %}
<div class="container marketing">
    {% for object in mailing_list %}
    <div class="row">
        <div class="col-lg-4">
            <img class="rounded-circle"
                 src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                 alt="Generic placeholder image" width="150" height="150">
            <h2>{{ object.mail_title }}</h2>
            <p>{{ object.text }}.</p>
            <p><a class="btn btn-secondary" href="{% url 'mailing:mailing_detail' object.pk %}" role="button">Смотреть
                &raquo;</a></p>
        </div>
    </div>
    {% endfor %}
    <p><a class="btn btn-secondary" href="{% url 'mailing:mailing_form' %}" role="button">Создать рассылку
    </a></p>
</div>
{% endblock %}